<ion-header>
  <ion-toolbar>
    <ion-title>Perfil | <span (click)='logout()'>Sair</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-avatar>
              <ion-img src={{userData.imagem}} alt="Foto" ></ion-img>
            </ion-avatar>
            <h6>{{userData.nome}}</h6>
            <hr>
          </ion-card-header>

          <ion-card-content>
            <h3 class="ion-text-center"><strong>Descrição</strong></h3>
            <p class="ion-text-center">{{userData.descricao}}</p>
            <hr>
            <ion-list>
              <h6><ion-icon name="cash"></ion-icon> R${{userData.preco}}</h6>
              <h6><ion-icon name="calendar-outline"></ion-icon> {{userData.disponibilidade}}</h6>
              <h6><ion-icon name="male-female-outline"></ion-icon> {{userData.sexo}}</h6>
              <h6><ion-icon name="construct-outline"></ion-icon> {{userData.especialidade}}</h6>
              <h6><ion-icon name="mail-open-outline"></ion-icon>{{userData.email}}</h6>
              <ion-list *ngFor='let number of userData.userNumbers'>
                <h6><ion-icon name="call-outline"></ion-icon> {{number.cell}} </h6>
                <h6><ion-icon name="call-outline"></ion-icon> {{number.phone}} </h6>
              </ion-list>
              <ion-list *ngFor='let address of userData.userAddress'>
                <h6>
                  <ion-icon name="home-outline"></ion-icon> 
                  {{address.endereco}} - {{address.numero}} - {{address.complemento}} - {{address.cep}} | {{address.cidade}} - {{address.uf}}
                </h6>
                <br>
              </ion-list>
            </ion-list>
          </ion-card-content>
            <div class="ion-padding">
              <ion-button expand="block" href="/tabs/tab1">Voltar</ion-button>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>