<ion-header>
  <ion-toolbar>
    <ion-title>Contratar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-avatar>
              <ion-img src= {{workerData.imagem}} alt="Foto"></ion-img>
            </ion-avatar>
            <h6>{{workerData.nome}}</h6>
            <hr>
          </ion-card-header>

          <ion-card-content>
              <h3 class="ion-text-center"><strong>Descrição</strong></h3>
              <p class="ion-text-center">{{workerData.descricao}}</p>
              <hr>
              <ion-list>
                <h6><ion-icon name="cash"></ion-icon> R${{workerData.preco}}</h6>
                <h6><ion-icon name="calendar-outline"></ion-icon> {{workerData.disponibilidade}}</h6>
                <h6><ion-icon name="male-female-outline"></ion-icon> {{workerData.sexo}}</h6>
                <h6><ion-icon name="construct-outline"></ion-icon> {{workerData.especialidade}}</h6>
                <h6><ion-icon name="mail-open-outline"></ion-icon> {{workerData.email}}</h6>
                <h6 *ngFor='let number of workerData.userNumbers'><ion-icon name="call-outline"></ion-icon> {{number.cell}}</h6>
                <h6 *ngFor='let number of workerData.userNumbers'><ion-icon name="call-outline"></ion-icon> {{number.phone}}</h6>
                <h6 *ngFor='let address of workerData.userAddress'><ion-icon name="home-outline"></ion-icon>{{address.cidade}}</h6><br>
              </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>  