<ion-header>
  <ion-toolbar>
    <ion-title>Contratar</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="assets/img/avatarMaria.jpg" alt="Foto"></ion-img>
        </ion-col>
        
        <ion-col>
          <ion-card-header>
            <ion-card-content>
              <h6><ion-icon name="people"></ion-icon>Nome completo</h6>
            </ion-card-content>
            <ion-card-content>
              <h6><ion-icon name="cash"></ion-icon>Preço</h6>
            </ion-card-content>
            <ion-card-content>
              <h6><ion-icon name="calendar-outline"></ion-icon>Disponibilidade</h6>
            </ion-card-content>
            <ion-card-content>
              <h6><ion-icon name="male-female-outline"></ion-icon>Sexo</h6>
            </ion-card-content>
            <ion-card-content>
              <h6><ion-icon name="construct-outline"></ion-icon>Especialidade</h6>
            </ion-card-content>
            <ion-card-content>
              <h6><ion-icon name="mail-open-outline"></ion-icon>E-mail</h6>
            </ion-card-content>
            <ion-card-content>
              <h6><ion-icon name="call-outline"></ion-icon>Telefone Celular</h6>
            </ion-card-content>
            <ion-card-content>
              <h6><ion-icon name="call-outline"></ion-icon>Telefone Fixo</h6>
            </ion-card-content> 
            <ion-card-content>
              <h6><ion-icon name="home-outline"></ion-icon>Cidade</h6>
            </ion-card-content>              
          </ion-card-header>    
        </ion-col>

        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-label><b>Descrição</b></ion-label>
              <p></p>
            </ion-row>
          </ion-grid>
        </ion-col>  
      </ion-row>
    </ion-grid>
  </ion-card>