<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-grid fixed>
  		<ion-row justify-content-center>
			<ion-col >
				<div>
					<h4 class="ion-text-center">Login</h4>
				</div>
				<div class="ion-padding">
					<ion-item>
						<ion-input type="E-mail" placeholder="E-mail"></ion-input>
					</ion-item>
					<ion-item>
						<ion-input type="password" placeholder="Senha"></ion-input>
					</ion-item>
				</div>
				<div class="ion-padding">
					<ion-button size="medium" href="/tabs/tab5" expand="block">Login</ion-button>
				</div>
				<div class="ion-padding">
					<ion-button size="medium" href="/tabs/tab3" expand="block">Criar conta</ion-button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>