<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catálogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar id="searchbar" placeholder="Pesquisar"></ion-searchbar>

  <ion-card id="card-trabalhador">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-img src="assets/img/avatarMaria.jpg" alt="Foto"></ion-img>
        </ion-col>

        <ion-col size="2">
          <ion-card-header>
            <ion-card-content id="nome-posto">
              <h6><ion-icon name="people"></ion-icon> Maria</h6>
            </ion-card-content>
            <ion-card-content id="nome-posto">
              <h6>
                <ion-icon name="cash" id="icon-cash"></ion-icon> R$ 150,00
              </h6>
            </ion-card-content>
            <ion-card-content id="nome-posto">
              <h6>
                <ion-icon name="calendar-outline"></ion-icon> Segunda-feira,
                Quarta-feira, Quinta-feira
              </h6>
            </ion-card-content>
          </ion-card-header>
        </ion-col>

        <ion-col size="6" class="ion-padding-top">
          <ion-grid>
            <ion-row>
              <ion-label><b>Descrição</b></ion-label>
              <p>
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old. Richard McClintock, a
                Latin professor at Hampden-Sydney College in Virginia, looked up
                one of the more obscure Latin words, consectetur, from a Lorem
                Ipsum passage, and going through the cites of the word in
                classical literature, discovered the undoubtable source.
              </p>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col size="2">
          <ion-grid>
            <ion-row>
              <ion-button color="primary" expand="block">
                Contratar
              </ion-button>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card id="card-trabalhador">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-img src="assets/img/avatarJoana.jpg" alt="Foto"></ion-img>
        </ion-col>

        <ion-col size="2">
          <ion-card-header>
            <ion-card-content id="nome-posto">
              <h6><ion-icon name="people"></ion-icon> Joana</h6>
            </ion-card-content>
            <ion-card-content id="nome-posto">
              <h6>
                <ion-icon name="cash" id="icon-cash"></ion-icon> R$ 140,00
              </h6>
            </ion-card-content>
            <ion-card-content id="nome-posto">
              <h6>
                <ion-icon name="calendar-outline"></ion-icon>Terça-feira,
                sexta-feira e finais de semana
              </h6>
            </ion-card-content>
          </ion-card-header>
        </ion-col>

        <ion-col size="6" class="ion-padding-top">
          <ion-grid>
            <ion-row>
              <ion-label><b>Descrição</b></ion-label>
              <p>
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old. Richard McClintock, a
                Latin professor at Hampden-Sydney College in Virginia, looked up
                one of the more obscure Latin words, consectetur, from a Lorem
                Ipsum passage, and going through the cites of the word in
                classical literature, discovered the undoubtable source.
              </p>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col size="2">
          <ion-grid>
            <ion-row>
              <ion-button color="primary" expand="block">
                Contratar
              </ion-button>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
