<ion-header>
  <ion-toolbar>
    <ion-title>
      Catálogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content size ="6">
  <ion-searchbar id="searchbar" placeholder="Pesquisar por serviço"
                (ionInput)="filterEspeciality($event)"></ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-label>Alterar ordenação</ion-label>
      <ion-select (ionChange)="changeOrder($event)">
        <ion-select-option value="price">Ordenar por preço</ion-select-option>
        <ion-select-option value="default">Data de cadastro</ion-select-option>
      </ion-select>
    </ion-item>  
  </ion-list>

    <ion-grid fixed>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-card id="card-trabalhador" *ngFor='let worker of srWorkers'>
              <ion-card-header>
                  <ion-avatar>
                    <ion-img id="imageUser" src="assets/img/avatarMaria.jpg" alt="Foto"></ion-img>
                  </ion-avatar>
                  <h6> {{worker.nome}}</h6>
                  <hr>
              </ion-card-header>
    
              <ion-card-content>
                <h3 class="ion-text-center"><strong>Descrição</strong></h3>
                <p class="ion-text-center">{{worker.descricao}}</p>
                <hr>
                <ion-list>
                  <h6><ion-icon name="cash"></ion-icon> R${{worker.preco}}</h6>
                  <h6><ion-icon name="calendar-outline"></ion-icon> {{worker.disponibilidade}}</h6>
                  <h6><ion-icon name="male-female-outline"></ion-icon> {{worker.sexo}}</h6>
                  <h6><ion-icon name="construct-outline"></ion-icon> {{worker.especialidade}}</h6>
                  <h6 *ngFor='let address of worker.userAddress'><ion-icon name="home-outline"></ion-icon> {{address.cidade}}</h6><br>
                </ion-list>
            
                <ion-row>
                  <ion-col>
                    <ion-button size="medium" href="/tab4/{{worker.cpf}}" expand="round" style="float: right;">Contratar</ion-button>
                  </ion-col>
                </ion-row>  
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>