<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catálogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar id="searchbar" placeholder="Pesquisar"></ion-searchbar>

  <ion-card id="card-trabalhador" *ngFor='let worker of workers'>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-img src="assets/img/avatarMaria.jpg" alt="Foto"></ion-img>
        </ion-col>

        <ion-col size="2">
          <ion-card-header>
            <ion-card-content>
              <h6><ion-icon name="people"></ion-icon> {{worker.nome}}</h6>
            </ion-card-content>
            <ion-card-content>
              <h6>
                <ion-icon name="cash"></ion-icon> R${{worker.preco}}
              </h6>
            </ion-card-content>
            <ion-card-content>
              <h6>
                <ion-icon name="calendar-outline"></ion-icon> {{worker.disponibilidade}}
              </h6>
            </ion-card-content>
            <ion-card-content>
              <h6>
                <ion-icon name="calendar-outline"></ion-icon> {{worker.sexo}}
              </h6>
            </ion-card-content>
            <ion-card-content>
              <h6>
                <ion-icon name="calendar-outline"></ion-icon> {{worker.especialidade}}
              </h6>
            </ion-card-content>               
          </ion-card-header>
        </ion-col>

        <ion-col size="6" class="ion-padding-top">
          <ion-grid>
            <ion-row>
              <ion-label><b>Descrição</b></ion-label>
              <p>
                {{worker.descricao}}
              </p>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col size="2">
          <ion-grid>
            <ion-row>
              <ion-button color="primary" expand="block">
                Contratar
              </ion-button>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
