$white-color: #fff;
$height100: 100%;

ion-card {
    background: #fff;
    border-radius: 10px;
    padding: 77px 55px 33px 55px;
}

ion-content, ion-button {
    --background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}