<ion-header>
  <ion-toolbar>
    <ion-title>Contratar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-card-header>
                <h1 style="text-align: center;">
                  Você deseja se cadastrar como cliente ou trabalhador?
                </h1>
            </ion-card-header>

              <ion-item>
                <ion-row>
                  <ion-item id="cliente">
                    <ion-label>Cliente</ion-label>
                    <ion-checkbox color="primary" slot="start" (click)='ocultarMostrarElemento("cliente")'></ion-checkbox>
                  </ion-item>

                  <ion-item id="profissional">
                    <ion-checkbox color="primary" slot="start" (click)='ocultarMostrarElemento("profissional")'></ion-checkbox>
                    <ion-label>Profissional</ion-label>
                  </ion-item>
                </ion-row>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="Nome completo" pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$"
                title="Nome válido" [(ngModel)]='data.username' required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="Link da foto de perfil" [(ngModel)]='data.image'></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="email" placeholder="E-mail ex: user@gmail.com"
                title="E-mail válido" [(ngModel)]='data.email' (ionBlur)="emailExistente()" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input id="senha" type="password" placeholder="Senha" [(ngModel)]='data.password' required></ion-input>
                <ion-label>|</ion-label>
                <ion-input id="confirmeSenha" type="password" placeholder="Confirmar senha"
                (ionBlur)="verificarSenha()" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input id="cpf" type="text" placeholder="CPF ex: 000.000.000-00" maxlength="14"
                [(ngModel)]='data.cpf' [brmasker]="{mask:'000.000.000-00'}"
                (ionBlur)="validaCPF()" (ionBlur)="cpfExistente()" required></ion-input>
              </ion-item>

               <ion-item>
                <ion-label>Endereço:</ion-label>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="Logradouro" [(ngModel)]='data.endereco'></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="Bairro" [(ngModel)]='data.bairro'></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="Cidade" [(ngModel)]='data.city'></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="UF" maxlength = "2" [(ngModel)]='data.uf'></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="number" placeholder="Número"[(ngModel)]='data.numero'></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="Complemento" [(ngModel)]='data.complemento'></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="text" placeholder="CEP ex: 00000-000" maxlength = "9"
                title="cep válido" [(ngModel)]='data.cep' [brmasker]="{mask:'00000-000'}" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Números para contato:</ion-label>
              </ion-item>

              <ion-item>
                <ion-input type="tel" placeholder="Número de celular ex: (61) 99999-9999" maxlength="15"
                title="número válido" [(ngModel)]='data.cell' [brmasker]="{mask:'(00) 00000-0000'}" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="tel" placeholder="Número fixo(opcional) ex: (61) 3333-3333"  maxlength="14"
                title="número válido" [(ngModel)]='data.phone' [brmasker]="{mask:'(00) 0000-0000'}"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Digite sua data de nascimento:</ion-label>
              </ion-item>

              <ion-item>
                <ion-input type="date" [(ngModel)]='data.born'></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Sexo:</ion-label>
              </ion-item>

              <ion-item>
                <ion-row>
                  <ion-item>
                    <ion-label>Masculino</ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>

                  <ion-item>
                    <ion-label>Feminino</ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                </ion-row>
              </ion-item>

              <ion-item>
                <ion-label>Estado Cívil:</ion-label>
              </ion-item>

              <ion-item>
                <ion-row>
                  <ion-item>
                    <ion-label>Solteiro(a)</ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Casado(a)</ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Divorciado(a)</ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Viúvo(a)</ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Separado(a)</ion-label>
                    <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  </ion-item>
                </ion-row>
              </ion-item>

              <ion-item id="profissionais">
                <ion-label>Opções complementares:</ion-label>
              </ion-item>

              <ion-item id="atuação">
                <ion-label>
                  Área de Atuação:
                </ion-label>
              </ion-item>

              <ion-item id="work">
                <ion-row>
                    <ion-item *ngFor='let work of works; let i = index'>
                      <ion-label>{{work.especialidade}}</ion-label>
                      <ion-checkbox color="primary" slot="start" (click)='changeSpeciality(i + 1)'></ion-checkbox>
                    </ion-item>
                </ion-row>
              </ion-item>

               <ion-item id="preco">
                  <ion-input type="text" placeholder="Digite o valor"
                  [brmasker]="{money: true, decimalCaracter: '.', decimal: 2}" [(ngModel)]='data.price'>
                  </ion-input>
              </ion-item>

              <ion-item id="descricao">
                <ion-textarea type="text-area" placeholder="Digite uma pequena descrição do seu serviço" [(ngModel)]='data.desc'></ion-textarea>
              </ion-item>

              <ion-item id="disponibilidade">
                <ion-textarea type="text" placeholder="Digite os dias no qual você realiza esse tipo de serviço."
                [(ngModel)]='data.availability'></ion-textarea>
              </ion-item>

            <div class="ion-padding">
              <!-- <ion-button size="medium" href="/tabs/tab2" expand="block" (click)='signUp()' -->
              <ion-button size="medium" expand="block" (click)='signUp()'>Cadastrar</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
